<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp1202.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/858cfe3b-4fb7-4656-85ec-c4500758d16d/resourcegroups/Learning/providers/Microsoft.Web/sites/FunctionApp1202</ResourceId>
    <UserName>$FunctionApp1202</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp1202.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>